*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

#link{
    margin-bottom: 300px;
}

#photo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 15s forwards;
}

@keyframes animate {
    0%{
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2,1.2)
    }
    100% {
        transform: scale(1.1);
    }
}


